/* --- Add fonts --- */
/* @import url("https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap"); */
/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap); */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap"); */

/* --- Reset --- */

@import url("reset.css");

/* --- --- --- */

.page {
   flex: 1 1 auto;
   position: relative;
   margin-top: 120px;
}

.page__section {
   height: 523px;
}

section {
   min-height: 480px;
}

.section-blue {
   background-color: #e0e8eb;
}

/* --- Header --- */

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background-color: #ffffff;
   border: none;
   border-bottom: 2px solid #e0e8eb;
   z-index: 50;
}

.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   flex: 1 0 auto;
   height: 60px;
   margin: 5px;
}

.header__img {
   height: 100%;
}

.header__list {
   display: flex;
   font-weight: 500;
}

.header__item {
   display: flex;
   align-items: center;
   height: 120px;
   padding: 5px 15px;
}

/* .header__item:hover {
   background-color: orange;
} */


.header__link:hover {
   color: #c7164a;
   cursor: pointer;
}

/* --- hamburger --- */

.hamburger {
   display: none;
   cursor: pointer;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background-color: #000;
}

@media(max-width:786px) {

   .header__item {
      font-size: 16px;
      padding: 5px;
   }

   .about__col {
      flex-basis: 100%;
   }

   .about__image {
      display: none;
   }

   .registration__form {
      flex-wrap: wrap;
   }

   .footer__title,
   .footer__text,
   .footer__link {
      font-size: 16px;
   }
}

@media(max-width:640px) {

   .hamburger {
      display: block;
      margin-right: 10px;
   }

   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
   }

   .hamburger.active {
      margin: 10px;
      background-color: #ffffff;
   }

   .header__row {
      height: 60px;
   }

   .header__logo {
      height: 45px;
   }

   .header__menu {
      display: block;
      position: fixed;
      left: -100%;
      top: 60px;
      border-top: solid 3px #ffffff;
      background-color: #757575;
      width: 100%;
      text-align: left;
      transition: 0.5s;
   }

   .header__menu.active {
      left: 0;
   }

   .header__list {
      display: flex;
      flex-direction: column;
      margin: 1px 0;
   }

   .header__item {
      height: auto;
   }

   .header__item a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      padding: 8px 5px;
   }

   .header__item a:hover {
      color: #2b363b;
   }

   #home {
      margin-top: 60px;
   }

   .footer__title,
   .footer__text,
   .footer__link {
      font-size: 16px;
   }
}

/* --- Section About --- */

.about__row {
   display: flex;
   padding: 30px;
}

.about__image {
   flex: 1 0 auto;
   padding: 15px;
   margin-top: 2vw;
   margin-left: 6vw;
}

.about__img {
   height: 380px;
}

.block-title {
   display: flex;
   padding: 5px;
}

.block-text p {
   font-style: 18px;
   line-height: 31.5px;
   text-indent: 30px;
   margin-bottom: 15px;
   color: #000;
}

.subtitle {
   color: #614d9b;
   font-size: 18px;
   font-weight: 500;
   line-height: 31.5px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
}

.title {
   position: relative;
   margin-bottom: 0.5em;
   padding-bottom: 0.5em;
   font-size: 36px;
   font-weight: 700;
   line-height: 45px;
}

.title::before {
   display: inline-block;
   position: absolute;
   bottom: 0;
   width: 2.5em;
   height: 3px;
   content: "";
   background-color: #614d9b;
}

.right-title {
   justify-content: flex-end;
   margin-right: 40%;
}

/* --- Section Services --- */

.services__title {
   padding: 30px 30px 0 30px
}

.services__row {
   display: flex;
   justify-content: center;
   background-color: #e0e8eb;
   flex-wrap: wrap;
   margin-bottom: 30px;
}

.services__block {
   display: flex;
   flex-direction: column;
   padding: 25px;
   background-color: #ffffff;
   margin: 30px;
   line-height: 31.5px;
   height: 320px;
   width: 300px;
}

.services__subtitle {
   font-size: 28px;
   font-weight: 700;
   line-height: 31.5px;
   margin-bottom: 16px;
   text-align: center;
}

.services__text {
   display: flex;
   text-align: justify;
   font-size: 0.875em;
   padding: 0.3125em;
}

/* --- Section Contact --- */

.contact__title {
   padding: 30px 30px 0 30px;
}

.contact__row {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 0 30px 30px 30px;
}

.contact__col-1 {
   min-width: max-content;
}

.contact__subtitle {
   color: #614d9b;
}

.contact__icons {
   display: inline-block;
   vertical-align: middle;
   color: #757575;
   margin-right: 10px;
}

.contact__text {
   display: flex;
   padding-bottom: 20px;
}

.contact__text:hover .contact__icons {
   color: #c7164a;
}

.map {
   flex: 1 1 auto;
   height: 25vw;
   width: 28vw;
   min-width: 370px;
   min-height: 330px;
}

/* --- Section Registration --- */

.registration__row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   padding: 0 30px 30px 30px;
}

.registration__title {
   padding: 30px 30px 0 30px;
}

.registration_icon {
   color: #c7164a;
   font-size: 38px;
   margin-right: 10px;
   vertical-align: middle;
}

.registration__text p {
   text-indent: 0;
}

.registration__text span {
   color: #c7164a;
}

.registration__item {}

.registration__form {
   display: flex;
   justify-content: center;
   column-gap: 15px;
}

label {
   display: block;
   font-weight: 700;
   float: none;
   margin: 3px;
}

input, textarea {
   color: #686868;
   padding: 0.75em;
   width: 25vw;
   min-width: 320px;
   height: auto;
   background: #e0e8eb;
   box-shadow: none;
   box-sizing: border-box;
   transition: all .2s linear;
   resize: none;
   margin: 3px;
   outline-style: none;
}

textarea {
   min-height: 150px;
}

input:hover,
input:active,
textarea:hover,
textarea:active {
   border-width: 2px;
   border-radius: 2px;
   outline-style: none;
}


.registration__btn {
   display: flex;
   justify-content: center;
   margin-top: 15px;

}

button {
   background-color: #2b363b;
   padding-top: 13px;
   padding-right: 40px;
   padding-bottom: 13px;
   padding-left: 40px;
   font-weight: 700;
   font-size: 16px;
   color: #ffffff;
   text-transform: uppercase;
   cursor: pointer;
   letter-spacing: 1px;
   border: 2px solid #757575;
   outline: 4px solid #2b363b;
}

button:hover {
   color: #e0e8eb;
   background-color: #757575;
   border: 2px solid #2b363b;
   outline: 4px solid #757575;
   transform: scale(0.97);
   transition: all 0.15s;
}



/* --- Footer --- */

.footer {
   height: 250px;
   background-color: #2b363b;
   color: #757575;
}

.footer__row-1,
.footer__row-2 {
   display: flex;
   justify-content: space-between;
}

.footer__row-1 {
   min-height: 180px;
   margin: 15px;

}

.footer__row-2 p {
   font-size: 14px;
   margin-left: 4vw;
}

.footer__col-1,
.footer__col-2 {
   padding: 10px;
}


.footer__text {
   display: flex;
   align-items: center;
   padding-top: 10px;
}

.footer__link {
   padding: 0;
}

.footer__text a,
.footer__text p,
a.footer__link {
   color: #757575;
   padding-left: 12px;
}

.footer__text a:hover,
.footer__text:hover i,
.footer__text p:hover,
a.footer__link:hover {
   color: #ffffff;
}

.footer__line {
   border: 1px solid #757575;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}